html,
body,
#root {
  height: 100%;
  margin: 0px;
}

.app-container {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: grid;
  grid-template-areas: "tabs viewer";
  grid-template-columns: 150px auto;
}

.app-viewer {
  grid-area: viewer;
  background-color: dimgray;
  user-select: none;
  display: flex;
  background-color: mediumslateblue;
}

.app-tabs {
  grid-area: tabs;
  background-color: dimgray;
  user-select: none;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.app-tab-button {
  height: 50px;
}

.viewer-content {
  display: flex;
  height: 100%;
  width: 100%;
  outline: 0;
  user-select: none;
}
