html,
body,
#root {
  height: 100%;
  margin: 0px;
}

.app-container {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  display: flex;
  background-color: mediumslateblue;
}

.viewer-content {
  display: flex;
  height: 100%;
  width: 100%;
  outline: 0;
  user-select: none;
}
